<div id="sidebar" class="flex flex-col h-screen bg-darkerBlue w-64 fixed left-0 top-0 transition-all duration-300 z-50 transform -translate-x-full md:translate-x-0">
  <div class="p-5 border-b border-gray-700">
    <a href="/" class="flex items-center">
      <img src="{{ "assets/images/logo.png" | relative_url }}" class="size-10" alt="Yanok AI Logo">
      <span class="invisible">Yanok AI</span>
    </a>
  </div>
  
  <nav class="flex-grow overflow-y-auto">
    <div class="flex flex-col p-5 space-y-2">
      <!-- Product Menu Item -->
      <div class="group relative">
        <button class="w-full text-left flex items-center justify-between submenu-toggle">
          <a class="text-base font-medium navigation-link w-full" href="{{ "/platform.html" | relative_url }}">Product</a>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </button>
        <div class="submenu hidden pl-4 mt-2 space-y-2">
          <a href="{{ "/platform.html#auto-workers" | relative_url }}" class="block text-sm hover:underline">AI Agents</a>
          <a href="{{ "/platform.html#app-integrations" | relative_url }}" class="block text-sm hover:underline">API Integrations</a>
          <a href="{{ "/platform.html#ai-integrations" | relative_url }}" class="block text-sm hover:underline">AI Integrations</a>
          <a href="{{ "/platform.html#data-and-security" | relative_url }}" class="block text-sm hover:underline">Data & Security</a>
        </div>
      </div>

      <!-- Solutions Menu Item -->
      <div class="group relative">
        <button class="w-full text-left flex items-center justify-between submenu-toggle">
          <a class="text-base font-medium navigation-link w-full" href="/solutions.html">Solutions</a>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </button>
        <div class="submenu hidden pl-4 mt-2 space-y-2">
          <span class="block font-semibold text-sm">By Industry</span>
          <a href="{{ "/solutions/communication.html" | relative_url }}" class="block text-sm hover:underline">Communication</a>
          <a href="{{ "/solutions/education.html" | relative_url }}" class="block text-sm hover:underline">Education and Training</a>
          <a href="{{ "/solutions/legal.html" | relative_url }}" class="block text-sm hover:underline">Legal</a>
          <a href="{{ "/solutions/regulatory-compliance.html" | relative_url }}" class="block text-sm hover:underline">Regulatory & Compliance</a>
          <span class="block font-semibold text-sm mt-2">By Role</span>
          <a href="{{ "/solutions/human-resources.html" | relative_url }}" class="block text-sm hover:underline">Human Resources</a>
          <a href="{{ "/solutions/information-technology.html" | relative_url }}" class="block text-sm hover:underline">IT</a>
          <a href="{{ "/solutions/marketing.html" | relative_url }}" class="block text-sm hover:underline">Marketing</a>
        </div>
      </div>

      <!-- Company Menu Item -->
      <div class="group relative">
        <button class="w-full text-left flex items-center justify-between submenu-toggle">
          <a class="text-base font-medium navigation-link w-full" href="{{ "/about.html" | relative_url }}">Company</a>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </button>
        <div class="submenu hidden pl-4 mt-2 space-y-2">
          <a href="{{ "/about.html" | relative_url }}" class="block text-sm hover:underline">About</a>
          <a href="{{ "/about.html#careers" | relative_url }}" class="block text-sm hover:underline">Careers</a>
          <a href="{{ "/partners.html" | relative_url }}" class="block text-sm hover:underline">Partners</a>
          <a href="{{ "/diversity-and-inclusion.html" | relative_url }}" class="block text-sm hover:underline">Diversity & Inclusion</a>
        </div>
      </div>
    </div>
  </nav>
  
  <div class="mt-auto p-5 border-t border-gray-700 text-sm">
    <div class="mb-2">
      <a href="tel:+6588928831" class="hover:underline">+65 8892 8831</a>
    </div>
    <div>
      160 Robinson Road, #14-04<br />Singapore
    </div>
  </div>
  
  <button id="sidebar-collapse" class="p-4 w-full text-center border-t border-gray-700">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto transform transition-transform duration-300" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 19l-7-7 7-7m8 14l-7-7 7-7" />
    </svg>
  </button>
</div>

<button id="sidebar-toggle" class="fixed top-4 left-4 z-50 md:hidden bg-blue-500 p-2 rounded-full">
  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
  </svg>
</button>
